.file {
  border-radius: 0.375rem;
  border: 2px solid var(--color40);
  background-color: var(--color00);
  padding: 0 0.6rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.file input[type='file']::file-selector-button {
  display: none;
}

.file__upload {
  display: block;
  border-radius: 0.375rem;
  border: 2px solid var(--color40);
  padding: 0.25rem 1rem 0;
  margin: 0.5rem 1rem 0.5rem 0;
  font-size: 1rem;
  background-color: var(--color20);
  cursor: pointer;
  transition:
    background-color 0.25s linear,
    border-color 0.25s linear;

  &:hover {
    background-color: var(--color30);
    border-color: var(--color50);
  }
}
