.backdop {
  position: fixed;
  top: 3.5rem;
  left: 0;
  bottom: 3rem;
  right: 0;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 200px;
    height: 200px;
    background-image: url('/backdop1.svg');
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.5;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 200px;
    height: 200px;
    background-image: url('/backdop2.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.5;
  }
}
