.navigation {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.header {
  text-align: center;
}

.table__body td {
  border: 2px solid transparent;
}

.table__header {
  background-color: var(--color30);
}
.table__header td {
  padding: 0 1rem;
  text-align: center;
}

.table__field_new {
  border-color: yellow !important;
  border-radius: 0.375rem;
}
